add-ingredients {
    display: block;
    margin: 1rem 1rem 0.25em;

    > h5 {
        padding-top: 0.25em;
    }
    .panel-wrapper {
        > div {
            padding: 0.75em;
            display: flex;
            align-items: center;
            position: relative;
            > svg {
                height: 2em;
                position: absolute;
                right: 0.5em;
            }
        }
        > div:active {
            filter: brightness(1.2);
        }
        > div:last-child {
            border-bottom: 0px;
        }
    }
}

.color-selector {
    display: flex;
}

.color-square.red {
    background-color: red;
}
.color-square.yellow {
    background-color: yellow;
}
.color-square.green {
    background-color: green;
}
.color-square.black {
    background-color: black;
}
.color-square.blue {
    background-color: blue;
}
.color-square.white {
    background-color: white;
}

.color-square {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    margin: 5px 20px 5px 5px;
    height: 20px;
    width: 46px;
    height: 33px;
}

.color-square:hover::after {
    content: attr(data-tip);
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
}

.selected-ingredients-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 10px;
    padding: 10px;
}

.ingredient-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

.ingredient-card:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.ingredient-name {
    flex: 1;
    font-size: 1.5rem;
    margin: 0;
}

.remove-button {
    font-size: 1.5rem;
}

.ingredient-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 768px) {
    .ingredient-card {
        flex-direction: row;
        align-items: center;
    }
    .internal-taps {
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}
.internal-taps {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 88vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.ingredient-content {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.color-square.disabled {
    background-color: #aaa;
    position: relative;
    opacity: 0.4;
}

.color-square.disabled::after {
    content: '✖'; /* Unicode character for a multiplication sign (X) */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px; /* Adjust size as necessary */
    color: #fff; /* The color of the 'X', white for contrast */
}

.tap-selector {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #222; /* Dark background for the dialog */
}

.tap-selector {
    position: fixed; /* Fixed position to cover the entire screen */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw; /* Full width of the viewport */
    height: 88vh; /* Full height of the viewport */
    display: flex; /* Use flexbox for centering the content */
    flex-wrap: wrap; /* Allow colors to wrap as needed */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    z-index: 1000; /* Ensure it's above other content */

    .color-square {
        margin: 10px; /* Space out the squares */
        width: 40%; /* Width of the color squares */
        height: 50px; /* Height of the color squares */
        border: 3px solid #bdbdbd;
        padding: 8px 16px;
        margin: 4px;
        border-radius: 4px;
        transition: background-color 0.3s;
    }
}
